<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Earthboundco_CatalogImageHelper>
            <version>0.1.0</version>
        </Earthboundco_CatalogImageHelper>
    </modules>
    <global>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Earthboundco_CatalogImageHelper_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
    </global>
</config>
